* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
	background-color: red;
	height: 150px;
}

body {
	background-color: white;
}

.footer {
	background-color: gray;
	height: 100px;
}

.container {
	max-width: 1200px;
}

.column {
	height: 30px;
	max-height: auto;
	width: 33.33%;
}
/*the column height grows as it fills with content, alternatively, it can be given a minimum height in pixels*/

.green {
	background-color: green;
	float: left;
}

.white {
	background-color: white;
	float: left;
}

.blue {
	background-color: blue;
	float: left;
	clear: right;
}

.border {
	border-right: 5px solid black;
	border-color: #3D3D3D;
}


/*media queries*/

@media (max-width: 767px) {
	.header {
		height: 100px;
	}
}

@media (max-width: 320px) {
	.header {
		height: 50px;
	}
}

@media (max-width: 768px) {
	.footer {
		display: none;
	}
}













.blue {
	background-color: blue;
}

